In [3]:
first_list = list(range(1, 1000001))
maximum = max(first_list)
minimum = min(first_list)
print(minimum)
print(maximum)

1
1000000

In [4]:
%timeit sum(first_list)
sum(first_list)

8.36 ms ± 353 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

500000500000

In [5]:
my_sum = (maximum * (maximum + minimum) / 2)
print(my_sum)
%timeit(my_sum)

500000500000.0
38.7 ns ± 2.42 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [19]:
snd_list = list(range(1, 21, 2))
print(snd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
[value * 3 for value in range(3, 31)]

[9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90]

In [15]:
[value ** 3 for value in range (1, 11)]

[1, 8, 27, 64, 125, 216, 343, 512, 729]